.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transition: all ease .3s;
}

.icon-arrow-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-up {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-attention-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-badge {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bank {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bell-fill {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bell {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bill {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-blank {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-box {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-build {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-catalog {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chat-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chat-fill {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chat {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-coge-fill {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-coge {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-contract {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-doc-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-doc-edit {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-docs-copy {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-docs {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dots-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-down-doc {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-download {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-envelope {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-exit {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-flag-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-flag-fill {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-flag {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-halyk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-lightning {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-loupe {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-minus-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-money {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-pdf {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-printer {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-question-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-refresh {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-report {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-rouble {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-skype {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-stats {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sticker {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-trash {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-wallet-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-wallet {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-widgets {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-xls {
  width: 1em;
  height: 1em;
  fill: initial;
}
